@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500&family=DM+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-main: 'DM Sans', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}
